@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins:wght@100&display=swap');

* {
    font-family: 'Oswald', sans-serif;
}

.mainDiv {
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 70%;
    height: 150px;
    /* background-color: red; */
    display: flex;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 4%;
}
.mainDiv > div {
    height: 200%;
    width: 50%;
}

.divOne {
    background-image: url("https://images.unsplash.com/photo-1571019614242-c5c5dee9f50b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: end;
    justify-content: center;
}

.divTwo {
    background-image: url("https://images.unsplash.com/photo-1595348020949-87cdfbb44174?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: end;
    justify-content: center;
}

.title {
    color : white;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    visibility: hidden; /* Hide by default */
    opacity: 0; /* Start with opacity 0 */
    transition: visibility 0s, opacity 0.5s ease;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 1),0px 0px 18px rgba(0, 0, 0, 1);
}

.subTitle {
    color : white;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    visibility: hidden; /* Hide by default */
    opacity: 0; /* Start with opacity 0 */
    transition: visibility 0s, opacity 0.5s ease;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 1),0px 0px 18px rgba(0, 0, 0, 1);
}

.divOne:hover .title {
    visibility: visible; /* Show on hover */
    opacity: 1; /* Fade in on hover */
} 

.divOne:hover .subTitle {
    visibility: visible; /* Show on hover */
    opacity: 1; /* Fade in on hover */
}

.divTwo:hover .title {
    visibility: visible; /* Show on hover */
    opacity: 1; /* Fade in on hover */
} 

.divTwo:hover .subTitle {
    visibility: visible; /* Show on hover */
    opacity: 1; /* Fade in on hover */
}

/* Schedule CSS */

.class {
    text-align: center;
    /* font-family: 'Oswald', sans-serif; */
    padding: 20px 0;
}

.schedule {
    margin: 10px;
    /* border: 1px solid red; */
    height: auto;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


.days, .ten, .twelve, .five, .seven, .eight {
    /* border: 1px solid black; */
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.days > div , .eight > div , .ten > div , .twelve > div , .five > div , .seven > div  {
    /* border : 1px solid black; */
    width: 12%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.days > div {
    background-color: #141B23;
    color : white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time {
    background-color: #DB2A24;
    color: white;
}

.activites {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


/* Programs */

.program {
    display: grid;
    /* border: 1px solid black; */
    height: 500px;
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "one three four"
    "two three five";
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.program > div {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: end;
}

.oneP {
    grid-area: one;
    background-image: url("https://images.unsplash.com/photo-1604480133054-2597dad6f610?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1269&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 20px;
}
.twoP {
    grid-area: two;
    background-image: url("https://images.unsplash.com/photo-1517130038641-a774d04afb3c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 20px;
    
}
.threeP {
    grid-area: three;
    background-image: url("https://images.unsplash.com/photo-1586439496903-c96e9f18f212?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fourP {
    grid-area: four;
    background-image: url("https://images.unsplash.com/photo-1604480132715-bd70038b74df?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1218&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 20px;
}
.fiveP {
    grid-area: five;
    background-image: url("https://images.unsplash.com/photo-1524594152303-9fd13543fe6e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-right-radius: 20px;
}

.programTitle {
    color: white;
    font-family: 'Oswald', sans-serif;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 1),0px 0px 18px rgba(0, 0, 0, 1);
    margin-bottom: 10px;
}