@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins:wght@100&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.HomeHeroSection {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)),  url("https://images.unsplash.com/photo-1615386703285-4fea008eef2d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.AboutHeroSection {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),  url("https://images.unsplash.com/photo-1517838277536-f5f99be501cd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.ProductHeroSection {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),  url("https://images.unsplash.com/photo-1597076545399-91a3ff0e71b3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
}

.ProductDetails {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),  url("https://images.unsplash.com/photo-1597076545399-91a3ff0e71b3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.LoginHeroSection {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("https://images.unsplash.com/photo-1423666639041-f56000c27a9a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2074&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.heroSection > img {
    width: 100%;
}

.heroSectionTitle {
    color: white;
    width: 39%;
    font-size: 270%;
}

.subTitle {
    color: white;
    width: 30%;
    font-size: 170%;
}

@media screen and (max-width : 1000px ) and (min-width : 700px) {
  .subTitle {
    width: 50%;
  }
  .heroSectionTitle {
    width: 60%;
  }
}

@media screen and (max-width : 699px ) and (min-width : 537px) {
  .subTitle {
    width: 60%;
  }
  .heroSectionTitle {
    width: 80%;
  }
}

@media screen and (max-width : 536px ) and (min-width : 300px) {
  .subTitle {
    width: 70%;
    font-size: 120%;
  }
  .heroSectionTitle {
    width: 90%;
    font-size: 200%;
  }
}

.heroSectionTexts {
    position: relative;
    top: 8%;
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.professional {
    text-align: center;
}


.spinner-container {
  width: 150px;
  height: 150px;
  position: relative;
  margin: 30px auto;
  overflow: hidden;
}

.spinner {
  position: absolute;
  width: calc(100% - 9.9px);
  height: calc(100% - 9.9px);
  border: 5px solid transparent;
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 5s cubic-bezier(0.17, 0.49, 0.96, 0.79) infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* 
.customLoader {
    position: relative;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    display: grid;
    border:4px solid #0000;
    border-radius: 50%;
    border-color:#C7C6ED #0000;
    animation: s6 2s infinite linear;
  }
  
  .customLoader::before,
  .customLoader::after {    
    content:"";
    grid-area: 1/1;
    margin:2px;
    border:inherit;
    border-radius: 50%;
  }
  
  .customLoader::before {
    border-color:#000000 #0000;
    animation:inherit; 
    animation-duration: 1s;
    animation-direction: reverse;
  }
  
  .customLoader::after {
    margin:8px;
  }
  
  @keyframes s6 { 
    100%{transform: rotate(1turn)}
  } */

  .authToggleButton {
    background-color: #DB2A24;
    padding: 10px 20px;
    outline: none;
    border: none;
    margin: 20px;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    display: inline;
  }

  .errorDiv > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
  }


  .error {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 310px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin: auto;
    background: #EF665B;
    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #111;
    position: relative;
    z-index: 2;
    animation: fadeInDown 0.8s;
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* .loginMainDiv {
    animation: open 0.5s;
  } */

  @keyframes open {
    0% {
      opacity: 0;
      
    }
    100% {
      opacity: 1;
      
    }
  }

  .error__icon {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    margin-right: 8px;
  }
  
  .error__icon path {
    fill: #fff;
  }
  
  .error__title {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
  }
  
  .error__close {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;
  }
  
  .error__close path {
    fill: #fff;
  }

  .commonButton {
    background-color: #DB2A24;
    padding: 10px 20px;
    outline: none;
    color: white;
    border-radius: 3px;
    border: 0;
    width: 30%;
    margin: auto;
  }

  /* Product CSS */

.productCardCont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 30px;
  margin: auto;
  width: 90%;
  margin: auto;
  padding: 40px 0;
}

@media screen and (max-width: 1049px) and (min-width : 800px) {
    .productCardCont {
      grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 799px) and (min-width : 300px) {
  .productCardCont {
    grid-template-columns: repeat(1, 1fr);
  }
}


.card {
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  --main-focus: #2d8cf0;
  width: 80%;
  margin: auto;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  gap: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card:last-child {
  justify-content: flex-end;
}

.card-img {

}

.cardImage {
  width: 100%;

}


.card-title {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: var(--font-color);
}

.card-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: var(--font-color-sub);
}

.card-divider {
  width: 100%;
  border: 1px solid var(--main-color);
  border-radius: 50px;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-price {
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color);
}

.card-price span {
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color-sub);
}

.card-btn {
  height: 35px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  padding: 0 15px;
  transition: all 0.3s;
}

.card-btn svg {
  width: 100%;
  height: 100%;
  fill: var(--main-color);
  transition: all 0.3s;
}

.card-img:hover {
  transform: translateY(-3px);
}

.card-btn:hover {
  border: 2px solid blue;
}

.card-btn:hover svg {
  fill: blue;
}

.card-btn:active {
  transform: translateY(3px);
}

/* Product css ends */


/* Input Container */

.input-container {
  width: 100%;
  position: relative;
}

.icon {
  position: absolute;
  right: 10px;
  top: calc(50% + 5px);
  transform: translateY(calc(-50% - 5px));
}

.input {
  width: 100%;
  height: 60px;
  padding: 10px;
  transition: .2s linear;
  border: 2.5px solid black;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.input:focus {
  outline: none;
  border: 0.5px solid black;
  box-shadow: -5px -5px 0px black;
}

.input-container:hover > .icon {
  animation: anim 1s linear infinite;
}

@keyframes anim {
  0%,
  100% {
    transform: translateY(calc(-50% - 5px)) scale(1);
  }

  50% {
    transform: translateY(calc(-50% - 5px)) scale(1.1);
  }
}

/* Input container ends here */

/* @media (min-width: 410px) and (max-width: 420px)  {
    .heroSectionTitle, .subTitle {
      display: none;
    }
} */