.mainDiv {
    text-align: center;
}

.cards {
    padding: 10px;
    width: 32%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;

}

.cards > img {
    border-radius: 20px;
}

.cards > p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.coaches {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    width: 80%;
    margin: auto;
}

@media (min-width: 410px) and (max-width: 420px)  {
    .cards {
        padding: 10px;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 10px;
    
    }
    .coaches {
        display: flex;
        width: 90%;
        flex-direction: column;
    }
}