.mainFaqDiv {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}       

.faqSec {
    width: 45%;
}

.accordion {
    width: 50%;
}

@media (min-width: 410px) and (max-width: 420px)  {

    .faqSec {
        width: 100%;
    }
    .mainFaqDiv {
        display: flex;
    }
    .accordion {
        display: none;
    }

}