.mainDiv {
    position: relative;
    height: 450px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("https://images.unsplash.com/photo-1475332363216-323c9b7f1e81?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1033&q=80");
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.mainDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mainDiv > div {
    /* border: 1px solid red; */
    height: 350px;
}

.socialHandle {
    color: grey;
    font-size: large;
    width: 70%;
    padding: 15px 10px;
    display: flex;
    gap: 15px;
}

.activeLink {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 80%;
    margin: auto;
    padding: 20px 0;
}

.routes {
    text-decoration: underline;
    color: grey;
    display: flex;
    align-items: center;
    gap: 20px;
}

.footerOne, .footerTwo {
    width: 25%;
}

.footerThree {
    width: 40%;
}

.class3::first-letter {
    font-size: 80px;
}

.input {
    display: flex;
    align-items: center;
    padding: 20px 20px;
}

.inputField {
    height: 30px;
    width: 40%;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #DB2A24;
}

.inputField {
    color: grey;
    text-align: center;
    border-radius: 3px;
}

.inputField::-webkit-input-placeholder {
    text-align: center;
}

.inputField:focus {
    border-color:#DB2A24;
}

.button {
    background-color: #DB2A24;
    width: 10%;
    border: 0;
    outline: none;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    border-radius: 3px;
    
}

.button:hover {
    transform: translate(-2px, 2px);
}

@media (min-width: 410px) and (max-width: 420px)  {
    .mainDiv {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .mainDiv > div {
        width: 90%;
        margin: auto;
    }
    .footerThree {
        display: none;
    }
    .activeLink {
        display: none;
    }
}