.customLoader {
    position: relative;
    top: 50%;
    left: 50%;
    /* transform: translate(0, -50%); */
    width: 50px;
    height: 50px;
    display: grid;
    border:4px solid #0000;
    border-radius: 50%;
    border-color:#C7C6ED #0000;
    animation: s6 2s infinite linear;
  }
  
  .customLoader::before,
  .customLoader::after {    
    content:"";
    grid-area: 1/1;
    margin:2px;
    border:inherit;
    border-radius: 50%;
  }
  
  .customLoader::before {
    border-color:#000000 #0000;
    animation:inherit; 
    animation-duration: 1s;
    animation-direction: reverse;
  }
  
  .customLoader::after {
    margin:8px;
  }
  
  @keyframes s6 { 
    100%{transform: rotate(1turn)}
  }