.mainDiv {
  padding: 10px;
  height: 500px;
  position: relative;
  width: 70%;
  /* margin: auto; */
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(10px);
  color: white;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
